
h1 {
    margin-bottom: 6px;
}
.profile-pic {
    width: 185px;
    height: 200px;
    display: block;
    margin-bottom: 5px;
  }
h2 {
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 1px;
}

section> :not(h2) {
    padding-left: 20px;
}

#about p,
#experience p:not(.dates) {
    text-indent: 20px;
}


.dates {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 6px;
    font-style: italic;
}

/* Education section */
.edu-entry .dates {
    margin-left: 20px;
}

.edu-entry h3 {
    margin-bottom: 3px;
}

.edu-entry p {
    margin: 0;
}

.edu-entry .degree {
    font-style: italic;
}

.edu-entry ul {
    margin-top: 0;
    padding-left: 30px;
}

.edu-entry .activities {
    margin-top: 12px;
    margin-bottom: 10px;
}